<h1>Thank you! Your order details are below</h1>
<p>Total: </p>
<p><%= @car.price.to_s %></p>
<p>Colour: </p>
<p><%= @car.color.to_s %></p>
<p>Auto Pilot: </p>
<p><%= @car.ap.to_s %></p>
<p>All Wheels Drive: </p>
<p><%= @car.awd.to_s %></p>
<p>Self Driving: </p>
<p><%= @car.sd.to_s %></p>
<p>Battery: </p>
<p><%= @car.battery.to_s %></p>
<p>Wheels: </p>
<p><%= @car.wheel.to_s %></p>
<p>We love feedbacks! Please offer us your insights of this product through your account. Thank you!</p>

