<%= form_for :user, html: {class: 'pure-form pure-form-stacked'}, url: '/signup' do |f| %>
  <fieldset>
    <legend>Sign Up for a new Tesla Account</legend>

      <%= label_tag(:FirstName, 'First Name') %>
      <%= f.text_field :first, placeholder: 'Enter FistName' %>
      <span class="pure-form-message">This is a required field.</span>

      <%= label_tag(:LastName, 'Last Name') %>
      <%= f.text_field :last, placeholder: 'Enter LastName' %>
      <span class="pure-form-message">This is a required field.</span>

      <%= label_tag(:Passport, 'Passport') %>
      <%= f.text_field :last, placeholder: 'Enter Passport Number' %>
      <span class="pure-form-message">This is a required field.</span>
      
      <%= label_tag(:email, 'Email') %>
      <%= f.email_field :email, placeholder: 'Enter e-mail' %>
      <span class="pure-form-message">This is a required field.</span>

      <%= label_tag(:password, 'Password') %>
      <%= f.text_field :password, placeholder: 'Enter password' %>
      <span class="pure-form-message">This is a required field.</span>
      
      <%= label_tag(:password , 'Password Confirmation') %>
      <%= f.text_field :password, placeholder: 'Enter password again' %>
      <span class="pure-form-message">This is a required field.</span>

      <label for="remember" class="pure-checkbox">
      </label>

      <button type="submit" class="pure-button pure-button-primary">Sign up</button>
    </fieldset>
<% end %>