<section id='general' style="position:fixed">
<div id='map' style="width:100%"></div>
<dl>
    <dt class="smallBattery">Aqua</dt>
    <dd>60kWh</dd>
    <dt class="mediumBattery">Black</dt>
    <dd>70 kWh</dd>
    <dt class="largeBattery">Orange</dt>
    <dd>80 kWh</dd>
</dl>
<div id='general_range'>
  <p> Based on reports from our owners, actual real-world ranges of model 3s can are listed below: </p>
  <p id='actual_range_60' style='display: none'><%=Consumption.where(battery: 60).average(:range).to_s %></p>
  <p id='actual_range_70' style='display: none'><%=Consumption.where(battery: 70).average(:range).to_s %></p>
  <p id='actual_range_80' style='display: none'><%=Consumption.where(battery: 80).average(:range).to_s %></p>
  <p>Model 3 with a 60kWh battery can travel <%=Consumption.where(battery: 60).average(:range).to_s %> km on a full charge</p>
  <p>Model 3 with a 70kWh battery can travel <%=Consumption.where(battery: 70).average(:range).to_s %> km on a full charge</p>
  <p>Model 3 with a 80kWh battery can travel <%=Consumption.where(battery: 80).average(:range).to_s %> km on a full charge</p>
</div>
</section>
<div id='all_user_reviews'>
  <%= render Review.where(user_id:session[:user_id]) %>
  <%= render Review.where.not(user_id:session[:user_id]) %>
</div>

<%= javascript_include_tag('actual_range.js') %>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets[:google_maps_api_key] %>&callback=actualRangeMap">
</script>