<%= image_tag('model3_home.jpg', :id=>'sunshine') %>
<div id='superchargerIntro'>
  <%= image_tag('supercharger.png', :id=>'superchargerPic') %>
  <p class='explain'>All Model3s come standard with hardware for supercharging. Every model 3 owner also gets 400kWh credit for using superchargers for free.</p>
  <p class='explain'>A network of dedicated superchargers have been installed in and around major cities in North America, Europe, and Asia Pacific. We plan to double the number of superchargers by 2018.</p>
</div>

<div id='homechargerIntro'>
  <%= image_tag('homecharger',:id=>'homechargerPic') %>
  <p class='explain'>About 90% of charging occurs at home. You can fully charge a model 3 at home using a professionally installed level 2 charger in about 7 hours.</p>
</div>

<div id='leaf'>
   <%= image_tag('leaf',:id=>'leafPic') %>
   <br>
   <p class='explain'>Standard on the model 3 is a 60 kWh battery with an EPA range of 345km. This is ample for a one-way trip from Vancouver to Seattle or Ottawa to Montreal.</p>
   <p class='explain'>An optional 80kWh battery can take you 480km on a single charge, making it possible to travel from Los Angeles to San Francisco non-stop.</p>
   <p class="explain">Most importantly, all Tesla vehicles are zero emission and are allowed on HOV lanes with just the driver alone in the vehicle.</p>
</div>

<div id='dash'>
  <%= image_tag('dash', :id=>'dashPic') %>
  <p class='explain'>Model 3s are expected to accelerator from 0 to 100km/h in under 6 seconds. With optional all wheel drive, the model 3 can reach 100km/h in under 4 seconds.</p>
</div>

<div style='width: 15%;margin-left:47.5%;margin-top:2em'>
  <a href='/model3/new'>Design Studio</a>
</div>










