<article class='car_info'>
  <% if car.vin !='wait' %>
    <p>VIN <%= car.vin %></p>
  <% else %>
    <% if car.paid==false %>
      <p>Awaiting deposit payment</p>
    <%else%>
      <p>Estimated delivery <%= (car.updated_at+14.months).strftime("%B, %Y")%></p>
    <%end%>
  <%end%>
  <div class='car_options'>
    <%= image_tag('model3_'+car.color.to_s+'.png', height: '280', width: '600') %>
    <h5>This car is equipped with the following options: </h5>
    <% if car.awd %>
      <p>All Wheel Drive</p>
    <% else %>
      <p>Rear Wheel Drive</p>
    <% end %>
    <% if car.ap %>
      <p>Enhanced Autopilot</p>
    <% end %>
    <% if car.sd %>
      <p>Full Self-driving Capbability</p>
    <% end %>
    <% if car.battery>60 %>
      <p>Optional <%=car.battery.to_s %> kWh battery</p>
    <% else %>
      <p>Standard 60 kWh battery</p>
    <% end %>
    <p>Wheel size: <%=car.wheel %> inches </p>
    <p>Total Retail Price: <%=car.price%> USD</p>
  </div>
  <%if car.paid==false %>
    <%= button_to 'Pay Now', '/pay/'+car.id.to_s, method: :get%>
    <%= button_to 'Delete Car', '/cars/'+car.id.to_s, method: :delete, data: { confirm: 'Are you sure to delete this car?' } %>
  <%end%>
  <% if car.delivered==true %>
    <%= button_to 'Write a review', '/review/'+car.id.to_s+'/new', method: :get%>
    <%= button_to 'Share your power consumption', '/consumption/'+car.id.to_s+'/new', method: :get%>
  <%end%>
</article>
