<article>
  <p>Car ID <%= car.id %></p>
  <p>All Wheel Drive <%= car.awd %></p>
  <p>Self driving <%= car.sd %></p>
  <p>Color <%= car.color %></p>
  <p>Battery <%= car.battery %></p>
  <p>Wheel <%= car.wheel %></p>
  <p>Autopilot <%= car.ap %></p>
  <p>Created by <%= car.user_id %></p>
  <p>Paid <%= car.paid %> </p>
  <p>Price <%= car.price %> </p>
  <p>Reviewed <%= car.reviewed %></p>
  <p>User age: <%= User.age(session[:user_id]) %>
  <% if car.paid == true %>
    <p>Deposit Already Paid</p>
    <%= link_to 'Share your power consumption', '/consumption/'+car.id.to_s+'/new',
                  method: :get
        %>
    <% if car.reviewed == false %>
      <%= link_to 'Write a review', '/review/'+car.id.to_s+'/new',
                  method: :get
        %>
    <% else %>
      <p>You've already reviewed this car </p>
    <% end %>
  <% else %>
    <% if User.age(session[:user_id])>17 %>
      <%= link_to 'Pay Now', '/pay/'+car.id.to_s,
                method: :get
      %>
    <% else %>
      <p>You must be 18 or older to purcahse a vehicle</p>
    <% end %>
    <%= link_to 'Delete Car', '/cars/'+car.id.to_s,
              method: :delete,
              data: { confirm: 'Are you sure to delete this car?' } %>
  <% end %>
</article>