<article>
  <p>Car ID <%= car.id %></p>
  <p>All Wheel Drive <%= car.awd %></p>
  <p>Self driving <%= car.sd %></p>
  <p>Color <%= car.color %></p>
  <p>Battery <%= car.battery %></p>
  <p>Wheel <%= car.wheel %></p>
  <p>Autopilot <%= car.ap %></p>
  <p>Created by <%= car.user_id %></p>
  <% if car.paid == true %>
    <p>Already paid</p>
  <% else %>
    <%= link_to 'Delete Car', '/cars/'+car.id.to_s,
              method: :delete,
              data: { confirm: 'Are you sure to delete this car?' } %>
  <% end %>
</article>