<h1 style='width:20%; margin:auto; text-align: center;margin-top: 1em; margin-bottom: 1em'>Order New Tesla</h1>
  <%= form_for :car, url: '/model3/new' do |f| %>
    <div id="battery_selector" class='config_option'>
      <h2 class='selector_title'>Select Battery</h2>
      <div class="batteryButton">
        <%= f.radio_button :battery, 60, :checked=>true %>
        <span> 60kWh Standard</span> <br>
        <p>EPA range 345km</p>
      </div>
      <div class="batteryButton">
        <%= f.radio_button :battery, 70 %> 70kWh <span id="battery_70_price">$<%= @battery_70_price %></span> <br>
        <p> EPA range 400km</p>
      </div>
      <div class="batteryButton">
        <%= f.radio_button :battery, 80 %> 80kWh <span id="battery_80_price">$<%= @battery_80_price %></span>
        <br>
        <p>EPA range 480km</p>
      </div>
      <%= image_tag('battery.png', height: '280', width: '600', :id=>"tesla_battery") %>
    </div>
    <div id='drive_selector' class='config_option'>
      <h2 class='selector_title'>Select Drivetrain</h2>
        <%= image_tag('drive_train.png', :id=>"drive_train_img") %>
        <div id="rwd_select">
          <p style='width:38%;margin-top: 2em;margin-left: 1.5em'>Standard on model 3 is rear wheel drive. Rear wheel drive model 3 has a separate electric motor at each of the rear wheels, providing high performance acceleration as well as commanding driving dynamics.</p>
        </div>
        <div id="awd_select">
          <p style='width:38%;margin-top: 1em;margin-left: 1.5em'>All wheel drive model 3 has a separate electric motor at each of the 4 wheels. The result is unparalleled handling in all weather conditions</p>
          <p id="awd_price" style='width:38%;margin-top: 1em;margin-left: 1.5em'>$<%= @awd_price %></p>
          <%= f.check_box :awd, :checked_value=>true, :unchecked_value=>false, :checked => false%> All Wheel Drive
        </div>
    </div>
    <div id="wheel_selector" class="config_option">
      <h2 class='selector_title'>Wheel Selections</h2><br>
      <div class="wheelButton">
        <%= image_tag('wheel_17.png',:class => 'wheel_pic') %> <br>
        <%= f.radio_button :wheel, 17, :checked=>true %> 17 inches
        <p>Standard</p>
      </div>
      <div class="wheelButton">
        <%= image_tag('wheel_18.png',:class => 'wheel_pic') %> <br>
        <%= f.radio_button :wheel, 18 %> 18 inches
        <p id="wheel_18_price">$<%= @wheel_18_price %></p>
      </div>
      <div class="wheelButton">
        <%= image_tag('wheel_19.png',:class => 'wheel_pic') %> <br>
        <%= f.radio_button :wheel, 19 %> 19 inches
         <p id="wheel_19_price">$<%= @wheel_19_price %></p>
      </div>
    </div>
    <div id='color_selector' class='config_option'>
      <div id="red_color_select">
        <%= f.radio_button :color, 'red', :checked=>true %> Red
      </div>
      <div id='white_color_select'>
        <%= f.radio_button :color, 'white' %> White
      </div>
      <div id='black_color_select'>
        <%= f.radio_button :color, 'black' %> Black
      </div>
      <div id='grey_color_select'>
        <%= f.radio_button :color, 'grey' %> Grey
      </div>
    </div>
    <div id='sd_selector' class="config_option">
      <p id='sd_price'>$<%= @sd_price %></p>
      <%= f.check_box :sd, :checked_value=>true, :unchecked_value=>false, :checked => false%> Full Self Driving Capability
    </div>
    <div id='ap_selector' class='config_option'>
      <p id='ap_price'>$<%= @ap_price %></p>
      <%= f.check_box :ap, :checked_value=>true, :unchecked_value=>false, :checked => false%> Enhanced Autopilot
    </div>
    <%= f.submit "Create Car for Order" %>
  <% end %>
  <div class='hidden_prices'>
    <p id="base_price_hidden"><%= Price.where(name: '3').first.base_price.to_s %></p>
    <p id="awd_price_hidden"><%= Price.where(name: '3').first.awd_price.to_s %></p>
    <p id="sd_price_hidden"><%= Price.where(name: '3').first.sd_price.to_s %></p>
    <p id="ap_price_hidden"><%= Price.where(name: '3').first.ap_price.to_s %></p>
    <p id="battery_70_price_hidden"><%= Price.where(name: '3').first.battery_70_price.to_s %></p>
    <p id="battery_80_price_hidden"><%= Price.where(name: '3').first.battery_80_price.to_s %></p>
    <p id="battery_90_price_hidden"><%= Price.where(name: '3').first.battery_90_price.to_s %></p>
    <p id="wheel_18_price_hidden"><%= Price.where(name: '3').first.wheel_18_price.to_s %></p>
    <p id="wheel_19_price_hidden"><%= Price.where(name: '3').first.wheel_19_price.to_s %></p>
  </div>
    <span id='total_price'>Total Price $<%= Price.where(name: '3').first.base_price.to_s %></span>
    <%= javascript_include_tag('model3_configurator.js') %>