<article class='review'>
<div class='rating'>
  <% i = 0 %>
  <% while i<review.rating.to_i %>
    <span><i class="fa fa-star" aria-hidden="true"></i></span>
    <% i = i+1 %>
  <% end %>
</div>
  <p>User score <%= review.rating.to_s %></p>
  <p>Comment<%= review.comment %></p>
  <p>Owner <%= User.find(review.user_id).first_name.to_s+' '+User.find(review.user_id).last_name %>
  <p>Car ID<%= review.car_id %></p>
  <%= @car=Car.find(review.car_id.to_i) %>
  <p>AWD <%= @car.awd %></p>
  <p>battery <%= @car.battery %></p>
  <% if @car.user_id == session[:user_id] %>
    <%= link_to 'Delete', '/review/'+@car.id.to_s+'/delete',method: :delete%>
  <% end %>
</article>