<h1>Post a review for your tesla</h1>

<%= form_for :review, url:'/review/'+params[:car_id]+'/new' do |f| %>
  <%= f.label :comment %><br>
  <%= f.text_field :comment %>
  <div>
    <%= f.label :rating %>
    <%= f.select :rating, [['5',5],['4',4],['3',3],['2',2],['1',1]]%>
   </div>
  <p>
    <%= f.submit 'Submit Review' %>
  </p>
  <p id="counterMaxLength">140</p>
  <span class="counter">140</span>
  <span class="flashMessage"></span>
<% end %>