<%= form_tag charges_path do %>
  <article>
  <p>Car ID <%= @car.id %></p>
  <p>All Wheel Drive <%= @car.awd %></p>
  <p>Self driving <%= @car.sd %></p>
  <p>Color <%= @car.color %></p>
  <p>Battery <%= @car.battery %></p>
  <p>Wheel <%= @car.wheel %></p>
  <p>Autopilot <%= @car.ap %></p>
  <p>Created by <%= @car.user_id %></p>
  <p><%= User.find(@car.user_id).email %></p>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: $2500.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.application.secrets[:stripe_published_key] %>"
          data-description="Model 3 Order"
          data-amount="250000"
          data-email= "johnson.liu@alumni.ubc.ca"
          data-locale="auto"></script>
<% end %>